[submodule "FFmpeg"]
	path = FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "libvpx-binaries"]
	path = libvpx-binaries
	url = git@github.com:telegie/libvpx-binaries.git
[submodule "opus-binaries"]
	path = opus-binaries
	url = git@github.com:telegie/opus-binaries.git
